*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carrousel{
    width: 100%;
}

.conteCarrousel{
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.itemCarrousel{
    position: relative;
    width: 100%;
    height: 100%;
}

.itemCarrouselTarjeta{
    width: 100%;
    height: 100%;
}

.itemCarrouselArrows{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px; 
}

.itemCarrouselArrows > i:hover {
    cursor: pointer;
}

.conteCarrouselController{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.conteCarrouselController > a{
    text-decoration: none;
    font-size: 2em;
    color: grey;
}

.itemCarrouselArrows > a > i{
    color: white;
}

img{
    width:100%;
    height:100%;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400&display=swap');

* {
	font-family: 'Poppins', sans-serif;
	text-transform: capitalize;
	text-decoration:none;
	outline: none;
	margin:0;
	padding:0;
	box-sizing:border-box;
    }

    *::selection {
        background:#2B23DC;
        color:rgb(8, 16, 128);
    }

    html {
        font-size: 100%;
        overflow: hidden;
    }

    body {
        background-color: blueviolet;
        display: flex;
        flex-wrap: wrap;
    }

    .title{
        padding: 0 1rem;
        font-size: 2ren;
        text-align: center;
        padding: 6rem 1rem 0 0;
        letter-spacing: 2rem;
        font-weight: 500;
    }
    
    .footer .icons a:hover {
        color:rgb(102, 8, 189);
        background:#5e13b4;
        border-color: rgb(234, 234, 243);
    }

    .footer .icons {
        padding: 5rem 0;
    }

    .footer {
        text-align: center;
    }
    .footer {
        height: 2. 5rem;
        width: 2. 5rem;
        line-height: 1.2rem;
        text-align: center;
        border-radius: 50%;
        color: #5e13b4;
        font-size: 2rem;
        margin: 0 .1rem ;
        transform: .2s lienar;
    }

    /* cerezos*/

    .cerezos{
        border-radius: 50%;
        background: #fff;
        opacity: .3;
    
        position: absolute;
        bottom: -150;
        
        animation: cerezos 3s linear infinite ;
    }
    
    .:nth-child(1){
        width: 80px;
        height: 80px;
        left: 5%;
        animation-duration: 3s;
        animation-delay: 3s;
    }
    
    .cerezos:nth-child(2){
        width: 100px;
        height: 100px;
        left: 35%;
        animation-duration: 3s;
        animation-delay: 5s;
    }
    
    .cerezos:nth-child(3){
        width: 20px;
        height: 20px;
        left: 15%;
        animation-duration: 1.5s;
        animation-delay: 7s;
    }
    
    .cerezos:nth-child(4){
        width: 50px;
        height: 50px;
        left: 90%;
        animation-duration: 6s;
        animation-delay: 3s;
    }
    
    .cerezos:nth-child(5){
        width: 70px;
        height: 70px;
        left: 65%;
        animation-duration: 3s;
        animation-delay: 1s;
    }
    
    .cerezos:nth-child(6){
        width: 20px;
        height: 20px;
        left: 50%;
        animation-duration: 4s;
        animation-delay: 5s;
    }
    
    .cerezos:nth-child(7){
        width: 20px;
        height: 20px;
        left: 50%;
        animation-duration: 4s;
        animation-delay: 5s;
    }
    
    .cerezos:nth-child(8){
        width: 100;
        height: 100px;
        left: 52%;
        animation-duration: 5s;
        animation-delay: 5s;
    }
    
    .cerezos:nth-child(9){
        width: 65px;
        height: 65px;
        left: 51%;
        animation-duration: 3s;
        animation-delay: 2s;
    }
    
    .cerezos:nth-child(10){
        width: 40px;
        height: 40px;
        left: 35%;
        animation-duration: 3s;
        animation-delay: 4s;
    }
    
    
    @keyframes cerezos{
        0%{
            bottom: 0;
            opacity: 0;
        }
        30%{
            transform: translateX(30px);
        }
        50%{
            opacity: .4;
        }
        100%{
            bottom: 100vh;
            opacity: 0;
        }
    }
    
    @keyframes movimiento{
        0%{
            transform: translateY(0);
        }
        50%{
            transform: translateY(30px);
        }
        100%{
            transform: translateY(0);
        }
    }
    
    .bg_animate {
        width:80px;
        height:80px;
        position:relative;
        overflow: hidden;
        
        
        /* los cer*/
        
        /*tarjeta de presentación de que no repoden*/
        
        .card {
            position: relative;
            width: 300px;
            height: 350px;
            margin: 20px;
        }
        
        .card .face {
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            border-radius: 10px;
            overflow: hidden;
            transition: .5s;
        }
        
        .card .front {
            transform: perspective(600px) rotateY(0deg);
            box-shadow: 0 5px 10px #000;
        }
        
        .card .front img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
        .card .front h3 {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 45px;
            line-height: 45px;
            color: #fff;
            background: rgba(0,0,0,.4);
            text-align: center;
        }
        
        .card .back {
            transform: perspective(600px) rotateY(180deg);
            background: rgb(3, 35, 54);
            padding: 15px;
            color: #f3f3f3;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: center;
            box-shadow: 0 5px 10px #000;
        }
        
        .card .back .link {
            border-top: solid 1px #f3f3f3;
            height: 50px;
            line-height: 50px;
        }
        
        .card .back .link a {
            color: #f3f3f3;
        }
        
        .card .back h3 {
            font-size: 30px;
            margin-top: 20px;
            letter-spacing: 2px;
        }
        
        .card .back p {
            letter-spacing: 1px;
        } 
        
        .card:hover .front {
            transform: perspective(600px) rotateY(180deg);
        }
        
        .card:hover .back {
            transform: perspective(600px) rotateY(360deg);
        }
   //*prueba las tarjetas*/
